.dish-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
  overflow: hidden;
}

.dish-image-block {
  width: 100%;
  height: 200px;
}

.dish-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.dish-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-md);
}

.dish-name {
  text-transform: uppercase;
  letter-spacing: var(--space-xs);
}

.dish-price {
  font-weight: 700;
  font-family: var(--font-second-monda);
}

.dish-card-actions {
  height: 110px;
  display: flex;
  flex-direction: row;
  gap: var(--space-lg);
  justify-content: center;
  align-items: center;
  padding: var(--space-lg) 0;
}

.dish-card-action {
  font-size: var(--text-xl);
  padding: var(--space-md);
  border-radius: var(--border-radius-md);
  border: 1px solid var(--color-border);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.dish-card-action:hover {
  scale: 0.90;
}

.dish-card-action-edit {
  background: var(--color-bg-button-500);
  color: var(--color-text-900);
}

.dish-card-action-delete {
  background: var(--color-incorrect);
  color: var(--color-text-white);
}
