.loader {
  width: 100px;
  height: 100px;
  background-color: var(--color-bg-white);
  border-radius: var(--circular);
  overflow: hidden;
}

.pizza-loader {
  width: 100%;
  height: 100%;
  display: block;
}
