@import './tokens/colors.css';
@import './tokens/radii.css';
@import './tokens/spacing.css';
@import './tokens/typography.css';
@import './sizes.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  font-optical-sizing: auto;
  background: var(--color-bg-body);
}

.fixed-position-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
}

a:active {
  color: inherit;
}

ul {
  list-style: none;
}
