.aside {
  width: 100%;
}

.aside-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nav-link {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
  gap: 15px;
  color: var(--color-nav-link);
  font-size: var(--text-md);
  letter-spacing: var(--space-xs);
  border-radius: var(--border-radius-sm);
  padding: var(--space-xs) var(--space-md);
  transition: all 0.2s ease;
}

.active {
  color: var(--color-nav-link-active);
  box-shadow:
    var(--color-shadow) 0px 4px 8px -2px,
    var(--color-shadow) 0px 0px 0px 1px;
  background: var(--color-nav-bg-active);
  font-weight: 700;
}

.active > p {
  color: var(--color-nav-link-active);
}
