:root {
  --font-main: 'Jost', sans-serif;
  --font-second-monda: 'Monda', sans-serif;

  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.875rem;
  --text-3xl: 2.25rem;
  --text-display: 3rem;
}
