.logo {
  background: var(--color-bg-white);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--border-radius-sm);
}

.logo-small {
  width: 45px;
  height: 45px;
}

.logo-medium {
  width: 70px;
  height: 70px;
}

.logo-large {
  width: 110px;
  height: 110px;
}

.logo-link {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.logo-img {
  display: block;
}

.logo-name {
  text-transform: uppercase;
  color: var(--color-text-800);
  letter-spacing: var(--space-xs);
  font-family: var(--font-second-monda);
}

.logo-name-small {
  font-size: var(--text-sm);
}

.logo-name-medium {
  font-size: var(--text-md);
}

.logo-name-large {
  font-size: var(--text-lg);
}
