.main-dishes-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 280px));
  gap: var(--space-xl);
  margin-top: var(--space-lg);
}

.dishes-actions {
  width: 100%;
  position: relative;
}

.nav-btn-checkout {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  padding: var(--space-md) var(--space-lg);
  border-radius: var(--border-radius-lg);
  text-transform: uppercase;
  background: var(--color-bg-button-600);
  color: var(--color-text-white);
  transition: all 0.3s ease;
  letter-spacing: var(--space-xs);
}

.nav-btn-checkout:hover {
  background: var(--color-bg-button-hover);
}

.total-cart-dish-price {
  text-transform: uppercase;
}

.cart-dishes-count {
  position: absolute;
  border: 1px solid var(--color-border-100);
  width: 25px;
  height: 25px;
  border-radius: var(--circular);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-white);
  background: var(--color-bg-100);
  font-weight: 600;
  top: -15px;
  left: -5px;
}
