.dish-cart-content {
  position: relative;
  border: 1px solid var(--color-border);
  padding: var(--space-md);
  background: var(--color-bg-white);
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  align-items: flex-start;
}

.dish-cart-item {
  display: flex;
  flex-direction: row;
  gap: var(--space-xl);
}

.dish-cart-item-action-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dish-cart-item-action-delete:hover {
  color: var(--color-text-500);
}

.dish-cart-item-img {
  width: 80px;
  height: 80px;
}

.dish-cart-item-img > img {
  width: 100%;
  height: 100%;
}

.dish-cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-md);
}

.dish-cart-item-info-name {
  letter-spacing: var(--space-xs);
  font-family: var(--font-second-monda);
}

.dish-cart-item-info-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--text-sm);
}

.dish-cart-item-info-count > p {
  font-family: var(--font-second-monda);
  letter-spacing: var(--space-xs);
  text-transform: uppercase;
}

.dish-info-price,
.dish-price-result {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.dish-count,
.dish-price-result {
  color: var(--color-text-500);
  font-weight: 600;
}

.dish-count + .dish-info-price::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url('/src/assets/images/icons/dot-ic.svg') no-repeat center / 15px
    15px;
}

.dish-info-price + .dish-price-result::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url('/src/assets/images/icons/equal-ic.svg') no-repeat center /
    15px 15px;
  margin-right: var(--space-xs);
}

.dish-cart-item-info-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-xl);
  background: var(--color-bg-card-100);
  padding: var(--space-sm);
  border-radius: var(--border-radius-lg);
}

.dish-count-acton {
  color: var(--color-text-900);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dish-cart-action {
  cursor: pointer;
}
