.btn-add-dish {
  width: 270px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  color: var(--color-text-800);
  border: 1px solid var(--color-border-input);
  padding: var(--space-xs) var(--space-md);
  border-radius: var(--border-radius-sm);
  background: var(--color-bg-button-white);
  text-transform: capitalize;
  letter-spacing: var(--space-sm);
  box-shadow:
    var(--color-shadow) 0px 4px 8px -2px,
    var(--color-shadow) 0px 0px 0px 1px;
  transition: all 0.2s ease;
}

.btn-add-dish:hover {
  background: var(--color-text-button-hover);
  color: var(--color-text-white);
  box-shadow:
    var(--color-shadow) 0px 6px 12px -2px,
    var(--color-shadow) 0px 0px 0px 1px;
}
