.dish-cart {
  padding: var(--space-xxl) var(--space-md);
}

.dish-cart-block {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.dish-cart-title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: var(--space-xl);
}
