.form-block {
  width: 40%;
  background: var(--color-bg-white);
  padding: var(--space-lg);
  border-radius: var(--border-radius-md);
  box-shadow:
    var(--color-shadow) 0px 4px 8px -2px,
    var(--color-shadow) 0px 0px 0px 1px;
}

.form-block-title {
  text-transform: uppercase;
  font-size: var(--text-lg);
  text-align: center;
}

.form-block-content {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.form-input-block {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  transition: all 0.2s ease;
}

.form-input-block > label {
  text-transform: uppercase;
  color: var(--color-text-800);
  font-size: var(--text-sm);
  letter-spacing: var(--space-sm);
}

.form-input {
  border: 1px solid var(--color-border-input);
  padding: var(--space-md);
  border-radius: var(--border-radius-md);
}

.form-input:focus {
  outline: none;
  border-color: var(--color-border-input-focus);
  box-shadow:
    var(--color-shadow) 0px 4px 8px -2px,
    var(--color-shadow) 0px 0px 0px 1px;
}

.form-input::placeholder {
  text-transform: uppercase;
  color: var(--color-placeholder);
}

.form-input:disabled {
  cursor: not-allowed;
}

.input-error-message {
  color: var(--color-text-white);
  font-size: var(--text-xs);
  margin-top: var(--space-xs);
  background: var(--color-incorrect);
  border-radius: var(--border-radius-sm);
  padding: var(--space-xs) var(--space-md);
}

.form-image-preview {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}

.form-image-preview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}

.form-submit-btn {
  background: var(--color-bg-white);
  color: var(--color-text-800);
  text-transform: uppercase;
  padding: var(--space-md) var(--space-lg);
  border-radius: var(--border-radius-md);
  border: 1px solid var(--color-border-input);
  font-weight: 700;
  transition: all 0.2s ease;
}

.form-submit-btn:hover {
  background: var(--color-border-input);
  color: var(--color-bg-white);
  box-shadow:
    var(--color-shadow) 0px 4px 8px -2px,
    var(--color-shadow) 0px 0px 0px 1px;
}

.form-submit-btn:disabled {
  background: var(--color-bg-input);
  color: var(--color-placeholder);
  border-color: var(--color-bg-input);
  cursor: not-allowed;
  box-shadow: none;
}

.loader-button {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  border-radius: var(--circular);
}
